body {
  font-size: 1.6rem;
  margin: 0 auto;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

header {
  padding: 1rem;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0.1rem;
  display: flex;
  gap: 1rem;
}

li {
  font-size: 1.6rem;
}

.book-list:nth-child(odd) {
  background-color: lightgray;
}

.book-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 44rem;
  gap: 20rem;
  border-radius: 10px;
}

/* Buttons */
button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  width: 8rem;
  cursor: pointer;
  border-radius: 5px;
}

#add {
  position: relative;
  left: 15rem;
}

/* Form */
.book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 23rem;
  margin: 3rem auto;
  text-align: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem auto;
  max-width: 46rem;
  border: 3px solid grey;
  height: 100%;
  flex-direction: column;
  overflow: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

input[type=text],
input[type=text]:focus {
  max-width: 50rem;
}

.remove {
  cursor: pointer;
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.6rem;
}
